div{
    margin-top: 3%;
    width: 80%;
    height: 30%;
    border: 1px solid #000;
    padding: 50px;
    margin-bottom: 20px;
    
}
input{
    margin-bottom: 10px;
    width: 250px;
    height: 50px;
    padding: 5px;
}
button{
    margin-left: 50px;
    width: 100px;
    height: 40px;

}
div{
    
}